body{
    text-align: center;
    margin: 0 auto;
    width: 688px;
}

header{
    height: 334px;
    margin: 0 auto;
    text-align: left;
    padding: 64px 0 0 0;

}

h1{
    font-size: 64px;
}
h2{
    font-size: 21px;
}
.inputs{
     justify-content: space-between;
    display: flex;
    flex-direction: row;
 }
label{
    font-size: 16px;
    color: #818182;
}

input, select {
    margin-top: 6px;
}
.char-searchbar{
    background: white;
    width: 434px;
    height: 18px;
    font-size: 16px;
    color: #ABB5BE;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 9px 0 9px 16px;
    transition: .3s;
    outline: none;
}
.char-searchbar-label{
    font-size: 25px;
    width: 434px;
}
.house-select{
    width: 216px;
    height: 38px;
    color: #ABB5BE;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    cursor: pointer;
}
.house-select-label{
    width: 216px;
}
.char-image {
    height: 192px;
    width: 334px;
    border-radius: 12px 12px 0 0;
}
.char-name {
    font-size: 20px;
    font-family: InterBold;
}.items-list {
     display: flex;
     flex-direction: row;
     margin: 48px auto 0;
     justify-content: space-between;
     width: 688px;
     flex-wrap: wrap;

 }

.item {
    width: 334px;
    height: 440px;
    background: white;
    border: 1px solid #DEE2E6;
    border-radius: 12px;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
    transition: .3s;
}

.item img {
    object-fit: cover;
}

.item p {
    text-align: left;
    padding-left: 24px;
}

.item:hover {
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.35);
}

.emoji {
    width: 70px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    margin: 24px auto 0;

    color: #68717A;
}.items-list {
     display: flex;
     flex-direction: row;
     margin: 48px auto 0;
     justify-content: space-between;
     width: 688px;
     flex-wrap: wrap;

 }

.item {
    width: 334px;
    height: 440px;
    background: white;
    border: 1px solid #DEE2E6;
    border-radius: 12px;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
    transition: .3s;
}

.item img {
    object-fit: cover;
}

.item p {
    text-align: left;
    padding-left: 24px;
}

.item:hover {
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.35);
}

.emoji {
    width: 70px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    margin: 24px auto 0;

    color: #68717A;
}